h1 {
    color: white;
}

a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#with-filler {
    background: beige;
}

/* Allows for in-window vertical scroll */
#scroll-list{
    overflow:scroll;
    height:calc(100vh - 80px);
    overflow-x: hidden;
}

/* Generates the challenger list loading animation */
#spinner1 {float:left;}
#spinner2 {padding-left : 20px;float:left;}
#spinner3 {padding-left : 24px;float:left;}

/* Used to style header bar */
#header-bar {
    background-color:#212121;
    color:#FFFFFF;
    min-height:80px;
}

/* Used to align "About" and "Changelog" menu items */
#menu-item {
    text-color: white;
    text-align: center;
    padding-top:23px;
}

/* Remove margins and stripes from Player nested table */
.table-nested {
    margin-bottom: 0px;
}

.table table-nested {
    padding-left: 0px;
}

.table-nested tbody tr td {
    border-top: none;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
}

.table-nested thead tr th {
    border-bottom: none;
}

.small-icon {
    width: 28px;
    height: 28px;
    opacity:0.75;
    border-radius:6px;
    text-align: center;
}



.side-column {
    padding-left: 2px;
    padding-right: 2px;
}
